.jumbotron {
    
}

.jumbotron, .jumbotron-fluid {
    height: 20px;
   
}
.bg-info {
    background-color: #A52A2A;
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    background-color: #007EA7;
}
.box1, .box2 {
    width: 200px;
    height: 200px;
}
body {
    background-color: #F7F4EA;
}